@{
    ViewData["Title"] = "Edit category";
}

@model CategoryFormView

<div class="form-page">
    <h2>Edit category</h2>

    @if (ViewBag.Message != null)
    {
        <div id="successEditAlert" class="alert alert-success py-1 px-2 small">
            @ViewBag.Message
        </div>
    }

    <partial name="_Form" model="Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    setTimeout(() => {
        const alert = document.getElementById('successEditAlert');
        if (alert) alert.remove();
    }, 4000);
</script>
