@model List<CategoryList>

<div class="products-layout">
    <div class="filters">
        <form id="filterForm">
            <h5>Filters</h5>
            <div class="mb-3">
                <label>Search</label>
                <input class="form-control" name="Search" />
            </div>
            <div class="mb-3">
                <label>Status</label>
                <select class="form-select" name="IsActive">
                    <option value="">All</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-2">
                Search
            </button>
            <button type="button"
                    id="clearFilters"
                    class="btn btn-outline-secondary w-100">
                Clear filters
            </button>
        </form>
    </div>
    <div class="content">
        <div class="actions-btns">
            <button class="btn btn-secondary">
                <i class="bi bi-filetype-csv"></i> Export CSV
            </button>
            <a asp-action="Create" class="btn btn-danger">
                <i class="bi bi-plus"></i> Add category
            </a>
        </div>
        <div id="categoryTable">
            @await Html.PartialAsync("_CategoryTable", Model)
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const tableContainer = document.getElementById("categoryTable");
        const filterForm = document.getElementById("filterForm");
        async function loadTable(formData) {
            const res = await fetch("@Url.Action("Filter", "Categories")", {
                method: "POST",
                body: formData
            });
            tableContainer.innerHTML = await res.text();
            if (window.wireDeleteModal)
                wireDeleteModal();
        }
        filterForm.addEventListener("submit", e => {
            e.preventDefault();
            loadTable(new FormData(filterForm));
        });
        document.getElementById("clearFilters").addEventListener("click", () => {
            filterForm.reset();
            loadTable(new FormData());
        });
    </script>
}