@model StockMovementFormView

<div class="form-page">
    <h2>Create stock movement</h2>
    <partial name="_Form" model="Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
