html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Products view */
.actions-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.actions-btns a,button{
    margin: 2px;
}

/* Toast */
.toast-container {
    margin-top: 1.9%;
}

/* Footer */
.footer {
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: gray;
}
.footer a:hover {
    text-decoration: underline;
}